spring:
  application:
    name: config-server
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  security:
    user:
      name: ${CONFIG_SERVER_USERNAME:configuser}
      password: ${CONFIG_SERVER_PASSWORD:configpass}
  cloud:
    config:
      server:
        git:
          default-label: main
          clone-on-start: true
    bus:
      enabled: true
      refresh:
        enabled: true

server:
  port: 8888

encrypt:
  key: ${CONFIG_SERVER_ENCRYPT_KEY:changeme-use-strong-key}

management:
  endpoints:
    web:
      exposure:
        include: health,info,busrefresh,encrypt,decrypt
  endpoint:
    health:
      show-details: when-authorized
