spring:
  profiles:
    active: dev
  jackson:
    serialization:
      write-dates-as-timestamps: false
  application:
    name: upload-service
  cloud:
    openfeign:
      httpclient:
        enabled: true
api:
  version: "api/v1"