server:
  port: 8081
eureka:
  client:
    enabled: false
spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: jdbc:postgresql://localhost:5432/baboo
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
#  flyway:
#    enabled: true
#    baseline-on-migrate: true
#    validate-on-migrate: true
#    out-of-order: false
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    discovery:
      enabled: false
    config:
      enabled: false
      import-check: false
    aws:
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test
      s3:
        enabled: true
        endpoint: http://localhost:4566
        region: us-east-1
        path-style-access-enabled: true
        raw-bucket-url: "baboo-raw-bucket"
        processed-bucket-url: "baboo-processed-bucket"
        thumbnails-bucket-url: "baboo-thumbnails-bucket"
      sqs:
        enabled: true
        endpoint: http://localhost:4566
        region: us-east-1
      queues:
        transcoder-producer: "transcoding-job"
service:
  metadata-url: http://localhost:8080/api/v1

